# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Frotz (installed via apt in Docker)
frotz

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Logs
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Editor / IDE
.vscode/
.vim/
.viminfo
*.swp
*.swo

# Shell / user environment
.bash_history
.bash_logout
.bashrc
.profile
.python_history
.sudo_as_admin_successful
.ssh/
.config/
.local/
